#Strict.dark{
  background: brown;
}
#Counter{
  height:50px;
  width:150px;
  background: black;
  color: red;
  border-style: solid;
}

.interface{
  border-style:solid;
  outline:none;
  height:50px;
  width:150px;
  margin:30px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size:200%;

}

.all{

}

.target{
  height:300px;
  width:300px;
  border-style:solid;
  border-width: 10px;
  border-color: #404E4D;
  padding:0px;
  outline:none;
  margin:0px;
}

.yellow{
  border-bottom-left-radius: 100%;
  background:#BCAD38;
  margin:-5px;
  margin-right:50px;
}

.green{
  border-top-left-radius: 100%;
  background:#658228;
  margin:-5px;
  margin-right:50px;
}
.blue{
  border-bottom-right-radius: 100%;
  background:#4898BA;
}
.red{
  border-top-right-radius: 100%;
  background:#AD3937;
}
.green.light{
  background:#9BC53D;
}
.blue.light{
  background:#5BC0EB;
}
.red.light{
  background:#E04A47;
}
.yellow.light{
  background:#FDE74C;
}
