.target{
    height:150px;
    width:150px;
}

#Start{
    height:50px;
    width:150px;
    margin:25px;
    margin-left:auto;
}
#Strict{
  height:50px;
  width:150px;
  margin:25px;
  margin-left: auto;
}
#Strict.dark{
  background: black;
}
.all{
  margin:100px;

}
.green{
  background:green;
}
.blue{
  background:blue;
}
.red{
  background:red;
}
.yellow{
  background:yellow;
}

.green.light{
  background:lightgreen;
}
.blue.light{
  background:lightblue;
}
.red.light{
  background:pink;
}
.yellow.light{
  background:lightyellow;
}
